{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
 <div class="container">

    <div class="row justify-content-center ">

      <div class="col-md-6 col-sm-10 col-6">
           <a href="{% url 'staff_signup' %}" class="btn btnlogin text-white btn-lg btn-block mb-2">Add Staff</a>
           <a href="{% url 'student_signup' %}" class="btn btnlogin text-white btn-lg btn-block mb-2">Add Supervisor</a>
        <div class="card">
          <div class="card-body">
        <h2 class="text-center">Add {{ user_type }} in system</h2>
        <form method="post" novalidate>
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          {{ form|crispy }}
          <button type="submit" class="btn btnlogin text-white btn-lg btn-block">Add</button><br>
        </form>
          </div>
         </div>
      </div>
    </div>

 </div>
{% endblock %}
